* {
	box-sizing: border-box;
}

body {
	background: #1c1b21;
	color: #FAFAFA;
	font-size: 55px;
	font-family: 'Fira Sans', sans-serif;
}

.container {
	border: 10px solid #6c38cc;
	display: flex;
	flex-flow: row wrap;
	/* height: 100vh;
	align-items: flex-start; */
	/* justify-content: right; */
}

.item {
	background: #232228;
	border: 1px solid #6c38cc;
	/* text-align: center; */
	padding: 10px;
	/* width: 2em; */
	/* align-content: flex-end; */
	/* width: calc(100% / 3); */
	flex-basis: 300px;
}

.item1 {
	flex-grow: 2;
	flex-shrink: 2;
}

.item2 {
	flex-grow: 5;
	flex-shrink: 5;
}
